header h1{
    font-size: 200px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageList {
    list-style-type: none;
}

#vaseSidebar{
    width: 400px;
    background-color: #553c9a;
    position: relative;
    height: 900px;
    float: right;
    display: grid;
    grid-template-columns: 50%;
    grid-gap: 0em;
    padding: 0em;
    justify-content: left;
    min-width: 0;
    overflow-y: scroll;
    max-height: 100vh;
    border-radius: 3%;
  }



.vaseImage img {
    width: auto;
    height: auto;
    cursor: grab;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}
.vaseImage img:hover {
    color:#b393d3;
}

@media screen and (max-height: 450px) {
    #vaseSidebar {padding-top: 15px;}
  }

  .container {
    text-align: center;
  }

  .hide {
    display: none;
}